@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  padding: 55px 0px 40px;
  background-color: #000;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px;
}

.nav__items li a {
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

.menu-btn {
  background-color: #015FC7;
  padding: 5px 25px;
  border-radius: 6px;
}

.login-nav {
  color: #fff;
}

.login-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 33px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.login-nav__item {
  font-size: 25px;
}

.bg-btn a {
  background-color: #015FC7;
  padding: 5px 45px;
  border-radius: 8px;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  background-color: #001124;
  padding: 78px 0px 45px;
  color: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}

.footer__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
}

.footer__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.footer__feedback-title {
  font-weight: 400;
  font-size: 18px;
}

.footer__feedback-input input {
  color: #E6E6E6;
  width: 280px;
  height: 35px;
  padding: 5px;
}

.footer__feedback-text textarea {
  color: #E6E6E6;
  width: 280px;
  height: 130px;
  padding: 5px;
}

.item-contact {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.item-contact__title {
  color: #0587FF;
}

.item-content {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.item-content__title {
  color: #0587FF;
  text-decoration: underline;
  line-height: 1.5;
}

.item-content__text a {
  color: #fff;
}

.hero {
  padding: 200px 0px 300px;
  background-color: #000;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  position: relative;
}

.hero__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
}

.hero__img img {
  width: 100%;
  position: absolute;
  top: -300px;
  left: 0px;
}

.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.hero__content-subtitle {
  font-size: 48px;
  font-weight: 400;
}

.hero__content-subtitle:not(:last-child) {
  margin-bottom: 10px;
}

.hero__content-title {
  font-size: 99px;
  font-weight: 400;
  color: #015FC7;
}

.hero__content-title:not(:last-child) {
  margin-bottom: 50px;
}

.hero__content-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
}

.hero__content-btns a {
  font-size: 25px;
  color: #EBECED;
  background-color: #004EA4;
  border-radius: 14px;
  padding: 14px 46px;
}

.features {
  color: #010029;
  padding: 160px 0px;
}

.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 65px;
}

.features__title {
  color: #000;
  font-size: 115px;
  font-weight: 400;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 337px;
          flex: 0 1 337px;
  text-align: center;
  position: relative;
  text-orientation: sideways-right;
}

.features__title::after {
  content: "";
  height: 700px;
  width: 7px;
  right: -10px;
  top: -150px;
  background-color: #000;
  position: absolute;
}

.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 45px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.item__icon img {
  width: 100%;
}

.item__text {
  font-size: 25px;
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about {
  background-color: #001124;
  color: #fff;
  padding: 128px 0px;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 65px;
}

.about__title {
  color: #ffffff;
  font-size: 115px;
  font-weight: 400;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 337px;
          flex: 0 1 337px;
  text-align: center;
  position: relative;
  text-orientation: sideways-right;
}

.about__title::after {
  content: "";
  height: 660px;
  width: 7px;
  right: -10px;
  top: -160px;
  background-color: #ffffff;
  position: absolute;
}

.about__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  font-size: 40px;
  font-weight: 400;
}

.steps {
  padding: 110px 0px;
  color: #000;
  font-weight: 400;
}

.steps__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 70px;
  max-width: 1050px;
}

.steps__title {
  font-size: 80px;
}

.steps__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  width: 100%;
}

.steps__item {
  gap: 40px;
}

.steps__item-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 116px;
          flex: 0 0 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.steps__item-img img {
  width: 100%;
}

.register {
  background-color: #010406;
  padding: 117px 0px 47px;
  color: #fff;
}

.register__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.register__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
}

.register__forms {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.reg__title {
  font-size: 45px;
}

.reg__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

.reg__input input {
  padding: 7px;
  height: 35px;
  width: 360px;
}

.btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.btn input {
  background-color: #015FC7;
  width: 180px;
}

.login {
  background-color: #001124;
  color: #fff;
  padding: 150px 0px 200px;
}

.login__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 100px;
}

.login__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.login__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.login__title {
  font-size: 45px;
}

.login__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.login__item input {
  padding: 7px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 43px;
          flex: 0 1 43px;
}

.login__forget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.login__forget a {
  color: #499FFE;
}

.profile {
  background: #001124;
  padding: 120px 0px 200px;
}

.profile__container {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 175px;
}

.profile__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.profile__pic {
  border-radius: 50%;
  background-color: #fff;
  width: 280px;
  height: 280px;
}

.profile__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.profile__info-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}

.profile__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}

.profile__item input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32px;
          flex: 0 1 32px;
  width: 250px;
  padding: 10px;
  border-radius: 7px;
}

.elections {
  background-color: #001124;
  padding: 130px 0px 200px;
}

.elections__container {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 42px;
}

.elections__upcoming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.elections__title {
  font-size: 25px;
  color: #fff;
}

.elections__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.elections__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 52px 15px 27px;
  background-color: #fff;
}

.elections__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.item-election {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 25px;
}

.rules {
  padding: 146px 0px 170px;
}

.rules__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  max-width: 950px;
}

.rules__title {
  font-size: 22px;
  font-weight: 700;
}

.rules__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
}

.rules__confirmation {
  font-size: 21px;
  font-weight: bold;
}

.rules__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.rules__btns a {
  padding: 9px 37px;
  background-color: #015FC7;
  color: #fff;
}

.voting {
  padding: 74px 0px 100px;
  background-color: #001124;
}

.voting__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.voting__title {
  color: #fff;
  font-size: 40px;
}

.voting__candidates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}

.voting__agreement {
  font-size: 20px;
}

.voting__agreement:not(:last-child) {
  margin-bottom: 30px;
}

.candidate-voting {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  cursor: pointer;
}

.candidate-voting__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  padding: 29px 37px 37px 30px;
}

.candidate-voting__body {
  max-width: 90%;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px 80px;
  max-height: 0px;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease, max-height 0.3s ease;
  transition: opacity 0.4s ease, max-height 0.3s ease;
  pointer-events: none;
}

.candidate-voting__candidate-name {
  font-size: 30px;
  font-weight: bold;
}

.candidate-voting__candidate-name:not(:last-child) {
  margin-right: 250px;
}

.candidate-voting__election-name {
  font-size: 30px;
  font-weight: bold;
}

.candidate-voting__icon {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.candidate-voting__body.active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  max-height: 350px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.candidate {
  font-size: 26px;
}

.candidate__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.candidate__items:not(:last-child) {
  margin-bottom: 30px;
}

.candidate__vote a {
  padding: 5px 15px;
  background-color: #001124;
  font-size: 26px;
  color: #fff;
}

.rotate {
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}